<!-- Modal -->
<div class="modal fade out" data-backdrop="static" id={{this.componentName}} tabindex="-1" role="dialog"
     aria-labelledby={{this.componentName}}
     aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{#if this.isSaving}}
        <div local-class="loading-wrap">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      {{/if}}
      <div class="modal-header">
        <h5 class="modal-title">{{this.modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Title</label>
            {{input type="text"
                    class="form-control"
                    placeholder="Enter title"
                    value=this.title}}
          </div>
          <div class="form-group">
            <label>Description</label>
            {{input type="text"
                    class="form-control"
                    placeholder="Enter description"
                    value=this.description}}
          </div>
          <div class="form-group">
            <label>Photo</label>
            {{input type="text"
                    class="form-control"
                    placeholder="Enter photo"
                    value=this.photo}}
          </div>

          <div>
            {{#x-file-input name="file" multiple=false action=(action "onAddImage") alt="Choose a File"}}
              {{#unless this.fileToUploadBase64}}
                <span class="btn btn-info">Upload file</span>
              {{/unless}}
            {{/x-file-input}}
            {{#if this.fileToUploadBase64}}
              <div local-class="image">
                <i local-class="btn-del" {{action "onRemoveImage"}}></i>
                <img src={{this.fileToUploadBase64}}>
              </div>
            {{else}}

            {{/if}}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action "onSave"}}>Save changes</button>
      </div>
    </div>
  </div>
</div>