{{yield}}
<!-- Button trigger modal -->
{{#if this.isShowButtonVisible}}

{{/if}}

<!-- Modal -->
<div class="modal fade out" backdrop="false" id={{this.componentName}} tabindex="-1" role="dialog"
     aria-labelledby={{this.componentName}}
     aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{this.modalTitle}}</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Title</label>
            {{input type="text"
                    class="form-control"
                    placeholder="Enter title"
                    value=this.title}}
          </div>
          <div class="form-group">
            <label>Description</label>
            {{input type="text"
                    class="form-control"
                    placeholder="Enter description"
                    value=this.description}}
          </div>
          <div class="form-group">
            <label>Photo</label>
            {{input type="text"
                    class="form-control"
                    placeholder="Enter photo"
                    value=this.photo}}
          </div>

          {{#file-upload name="photos"
                         accept="image/*"
                         multiple="false"
                         onfileadd=(action "uploadImage") as |queue|}}
            <a class="button">
              {{#if this.isFileUploading}}
                Uploading...
              {{else}}
                Upload file
              {{/if}}
            </a>
          {{/file-upload}}

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action "onSave"}}>Save changes</button>
      </div>
    </div>
  </div>
</div>