<table class="table">
  <thead>
  <tr>
    <th scope="col">Photo</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.products as |product|}}
    <tr>
      <th>{{product.photo}}</th>
      <th>{{product.title}}</th>
      <th>{{product.description}}</th>
      <th>
        <button class="btn btn-info" {{action "showUpdateModal" product}}>edit</button>
      </th>
      <th>
        <button class="btn btn-danger" {{action "removeProduct" product}}>remove</button>
      </th>
    </tr>
  {{/each}}
  </tbody>
</table>

<AddProduct @action="update"
            @isModalVisible={{this.isEditModalVisible}}
            @store={{this.store}}
            @productId={{productToEdit.id}}
            @title={{productToEdit.title}}
            @photo={{productToEdit.photo}}
            @description={{productToEdit.description}}/>