<button type="button" class="btn btn-primary" data-toggle="modal" {{action "showAddModal"}}>
  Add new product
</button>

<AddProduct @store={{this.store}}
            @isModalVisible={{this.isAddModalVisible}}
            @action="add"
            @isShowButtonVisible={{true}}/>
<ProductTable @products={{this.model}}
              @store={{this.store}}/>